<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="order" >
  <resultMap id="BaseResultMap" type="com.fruitstore.persistence.model.OrderPojo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="produnctionIds" property="produnctionids" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="phoneNum" property="phonenum" jdbcType="VARCHAR" />
    <result column="addr" property="addr" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="deliveryDate" property="deliverydate" jdbcType="TIMESTAMP" />
    <result column="reveiveDate" property="reveivedate" jdbcType="TIMESTAMP" />
    <result column="carriageFee" property="carriagefee" jdbcType="VARCHAR" />
    <result column="totalPrice" property="totalprice" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, produnctionIds, amount, status, phoneNum, addr, createDate, deliveryDate, reveiveDate, 
    carriageFee, totalPrice, operator
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fruitstore.persistence.model.OrderPojo" >
    insert into order (id, produnctionIds, amount, 
      status, phoneNum, addr, 
      createDate, deliveryDate, reveiveDate, 
      carriageFee, totalPrice, operator
      )
    values (#{id,jdbcType=INTEGER}, #{produnctionids,jdbcType=VARCHAR}, #{amount,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{phonenum,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=TIMESTAMP}, #{deliverydate,jdbcType=TIMESTAMP}, #{reveivedate,jdbcType=TIMESTAMP}, 
      #{carriagefee,jdbcType=VARCHAR}, #{totalprice,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fruitstore.persistence.model.OrderPojo" >
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="produnctionids != null" >
        produnctionIds,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="phonenum != null" >
        phoneNum,
      </if>
      <if test="addr != null" >
        addr,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="deliverydate != null" >
        deliveryDate,
      </if>
      <if test="reveivedate != null" >
        reveiveDate,
      </if>
      <if test="carriagefee != null" >
        carriageFee,
      </if>
      <if test="totalprice != null" >
        totalPrice,
      </if>
      <if test="operator != null" >
        operator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="produnctionids != null" >
        #{produnctionids,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="phonenum != null" >
        #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="deliverydate != null" >
        #{deliverydate,jdbcType=TIMESTAMP},
      </if>
      <if test="reveivedate != null" >
        #{reveivedate,jdbcType=TIMESTAMP},
      </if>
      <if test="carriagefee != null" >
        #{carriagefee,jdbcType=VARCHAR},
      </if>
      <if test="totalprice != null" >
        #{totalprice,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>