<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="promotion" >
  <resultMap id="BaseResultMap" type="com.fruitstore.persistence.model.Promotion" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gift_num" property="giftNum" jdbcType="INTEGER" />
    <result column="conditions" property="conditions" jdbcType="VARCHAR" />
    <result column="discountRate" property="discountrate" jdbcType="REAL" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, gift_num, conditions, discountRate, desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from promotion
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from promotion
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fruitstore.persistence.model.Promotion" >
    insert into promotion (id, name, gift_num, 
      conditions, discountRate, desc
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{giftNum,jdbcType=INTEGER}, 
      #{conditions,jdbcType=VARCHAR}, #{discountrate,jdbcType=REAL}, #{desc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fruitstore.persistence.model.Promotion" >
    insert into promotion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="giftNum != null" >
        gift_num,
      </if>
      <if test="conditions != null" >
        conditions,
      </if>
      <if test="discountrate != null" >
        discountRate,
      </if>
      <if test="desc != null" >
        desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="giftNum != null" >
        #{giftNum,jdbcType=INTEGER},
      </if>
      <if test="conditions != null" >
        #{conditions,jdbcType=VARCHAR},
      </if>
      <if test="discountrate != null" >
        #{discountrate,jdbcType=REAL},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>