<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="supplier" >
  <resultMap id="BaseResultMap" type="com.fruitstore.persistence.model.Supplier" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="addr" property="addr" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="review" property="review" jdbcType="VARCHAR" />
    <result column="rating" property="rating" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.fruitstore.persistence.model.Supplier" extends="BaseResultMap" >
    <result column="pic" property="pic" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, addr, tel, review, rating
  </sql>
  <sql id="Blob_Column_List" >
    pic
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from supplier
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from supplier
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fruitstore.persistence.model.Supplier" >
    insert into supplier (id, name, addr, 
      tel, review, rating, 
      pic)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{review,jdbcType=VARCHAR}, #{rating,jdbcType=TINYINT}, 
      #{pic,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.fruitstore.persistence.model.Supplier" >
    insert into supplier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="addr != null" >
        addr,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="review != null" >
        review,
      </if>
      <if test="rating != null" >
        rating,
      </if>
      <if test="pic != null" >
        pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="review != null" >
        #{review,jdbcType=VARCHAR},
      </if>
      <if test="rating != null" >
        #{rating,jdbcType=TINYINT},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
</mapper>